/* Global*/
*::before,
*::after,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: url(./images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
.app-main-container {

}
.app-main-container::after {

}
/* ------------ */

/* App */
.app-main-container {
	
}
/* ------------ */

/* Home css */

/* ------------- */

/*? RentalApp */
.ra-main-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
}
.ra-main-form {
	margin: 50px 0 0 0;
	background-color: grey;
	width: 90%;
}
.ra-main-title, .ra-dropdown {
	text-align: center;
	margin: 10px 0;
}
.ra-referral-dropdown {
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid gray;
	z-index: 1000;
	
  }
/* ------------- */