/*? RentalApp */
.ra-main-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;
	margin: 50px 0 0 0;
}
.ra-main-form {
	margin: 50px 0 200px 0;
	width: 60%;
	background-color: var(--window);
    border-radius: 12px;
    border: var(--border1);
	box-shadow: var(--shadow);
}
.ra-main-title {
	font-size: var(--h2);
	text-align: center;
	margin: 10px 0;
}
.ra-column-container {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}
.ra-row-container-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.ra-section-title {
	font-size: var(--h3);
	text-align: center;
	padding: 10px 0;
}
.subtitle {
	font-size: var(--p);
	text-align: center;
	color: yellow;
}
.dropdownInputField {
	width: fit-content;
}
.textInputField, .dropdownInputField {
	padding: 5px;
	font-size: var(--p);
	border-radius: 5px;
	margin: 10px 5px;
	background-color: var(--inputBG);
}
.ra-applicant-email-container, .ra-co-applicant-email-container {
	position: relative;
}
.invalidEmailMessage {
	position: absolute;
	top: -5px;
	left: 30px;
	font-size: 12px;
	color: red;
}
@media screen and (max-width: 425px) {
	:root {
		--p: 0.75rem !important;
	}
	.invalidEmailMessage {
		font-size: 10px;
		left: 20px;
	}
	.subtitle {
		font-size: 10px;
	}

}
/* ------------- */
